@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    margin: 0px;
    padding: 0 40px;
    background-color: white;
    color: white;
    font-family: "Inter", sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100dvh;

    @media only screen and (max-width: 47.938em) {
        padding: 0;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}